canvas {


	border: 2px solid gray;
	background-color: #e6ffe6;
	background-image: url("../../images/checkerboard.png");

}

div {
	-webkit-columns: 100px 3;
	        columns: 100px 3;
}

button {
	display: block;
}